[Desktop Entry]
Version=1.0
Type=Application
Name=calibre
GenericName=E-book library management
Comment=E-book library management: Convert, view, share, catalogue all your e-books
TryExec=calibre
Exec=calibre --detach %U
Icon=com.calibre_ebook.calibre
Categories=Office;
X-GNOME-UsesNotifications=true
MimeType=application/x-sony-bbeb;image/vnd.djvu;text/html;application/epub+zip;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/oebps-package+xml;application/x-mobipocket-ebook;application/x-mobipocket-subscription;application/ereader;application/x-mobi8-ebook;text/plain;text/rtf;application/x-cbc;text/x-markdown;application/vnd.oasis.opendocument.text;application/pdf;application/xhtml+xml;application/x-cbr;application/x-ruby;text/fb2+xml;application/x-cbz;application/vnd.ms-word.document.macroenabled.12;