[Desktop Entry]
Version=1.0
Type=Application
Name=LRF viewer
GenericName=Viewer for LRF files
Comment=Viewer for LRF files (SONY ebook format files)
TryExec=lrfviewer
Exec=lrfviewer %f
Icon=com.calibre_ebook.calibre.lrfviewer
MimeType=application/x-sony-bbeb;
Categories=Graphics;Viewer;